<div class="alert alert-danger" ng-show="wserror">
  {{ wserror }}
</div>
<div class="alert alert-warning" ng-show="wshint">
  {{ wshint }}
</div>
<div ng-show="contextlist.length">
  Context:
  <select ng-model="context" ng-options="context for context in contextlist"></select>
  <div ng-show="contextallowed(contextlist, context)">
    Horizontal:
    <input type="range" min="0" max="100" ng-model="x" /> Vertical:
    <input type="range" min="0" max="100" ng-model="y" />
    <div class="btn-group btn-group-justified">
      <a class="btn btn-primary" ng-click="closed=false">Open</a>
      <a class="btn btn-primary" ng-click="closed=true">Close</a>
    </div>
    Allow device orientation:
    <input type="checkbox" ng-model="orientation" />
  </div>
</div>
